.root {
  --color-inactive: var(--color-zinc-700);
  --color-active: var(--color-orange-300);
  padding: var(--spacing-sm) var(--spacing-md) var(--spacing-sm) calc(var(--spacing-sm) * 4);
  background-repeat: no-repeat;
  background-size: 28px auto;
  background-position: var(--spacing-sm) center;
  border: solid 2px var(--color-inactive);
  color: var(--color-inactive);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-bolder);
  text-transform: uppercase;
  letter-spacing: .05em;
  cursor: pointer;

  &.selected {
    border-color: var(--color-active);
    color: var(--color-active);
  }

}