:root {
  /* Colours */
  --color-yellow-500: #f5c518;
  --color-yellow-200: #7E5C14;
  --color-orange-500: #f97316;
  --color-black-100: #0a0a0a;
  --color-black-200: #18181B;
  --color-white-900: #e4e4e7;
  --color-white-400: #71717a;
  --color-body-background: var(--color-black-100);
  --color-body-foreground: var(--color-white-900);

  /* Fonts */
  --font-family-default: "Rajdhani", sans-serif;
  --font-family-title: "Bebas Neue", sans-serif;
  --font-family-code: "Share Tech Mono", monospace;
  --font-size-default: 16px;
  --font-size-largest: 96px;
  --font-size-large: 30px;
  --font-size-medium: 18px;
  --font-size-small: 14px;
  --font-size-smallest: 12px;

  /* Dimensions */
  --dimension-spacing-default: 12px;
  --dimension-spacing-largest: 46px;
  --dimension-strip-height: 8px;
  --dimension-footer-height: 37px;
}

/**
 * CSS reset.
 */
*, ::before, ::after { box-sizing: border-box }
body, h1, h2, h3, h4, p, figure, blockquote, dl, dd { margin: 0 }
ul[class], ol[class] { list-style: none; padding: 0 }
img { max-width: 100%; display: block }
input, button, textarea, select { font: inherit }
@media (prefers-reduced-motion: reduce) { *, ::before, ::after { animation-duration: 0.01ms !important; animation-iteration-count: 1 !important; transition-duration: 0.01ms !important; scroll-behavior: auto !important } }


/**
 * Structure
 */
body {
  min-height: 100vh;
  background-color: var(--color-body-background);
  color: var(--color-body-foreground);
  font-family: var(--font-family-default);
  font-size: var(--font-size-default);
  font-weight: 500;
}
.bg {
  background-image: radial-gradient(circle, rgb(245, 197, 24) 1px, transparent 1px);
  background-size: 20px 20px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  opacity: .15;
  z-index: 0;
}
main {
  min-height: 100vh;
  padding: var(--dimension-spacing-largest);
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  z-index: 2;
}
main .window {
  width: 100%;
  max-width: 800px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
}

/**
 * UI Elements
 */
.strip {
  height: var(--dimension-strip-height);
  background: repeating-linear-gradient(90deg, var(--color-yellow-500) 0px, var(--color-yellow-500) 40px, var(--color-orange-500) 40px, var(--color-orange-500) 80px);
  left: 0;
  right: 0;
  position: fixed;
  z-index: 10
}
.strip.top {
  top: 0;
}
.strip.bottom {
  bottom: 0;
}

/**
 * Title
 */
h1 img {
  width: 100%;
  max-width: 700px;
  margin: 0 0 var(--dimension-spacing-default);
  height: auto;
  display: block;
}
.soon {
  margin: 0 0 calc(var(--dimension-spacing-default)*2);
  font-family: var(--font-family-title);
  font-size: var(--font-size-largest);
  color: var(--color-yellow-500);
  text-align: center;
  text-shadow: var(--color-black-100) 4px 4px 0px, var(--color-orange-500) 8px 8px 0px, #000 -2px -2px 0px, #000 2px -2px 0px, #000 -2px 2px 0px, #000 2px 2px 0px;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/**
 * Features
 */
.features {
  width: 100%;
  margin: 0 0 calc(var(--dimension-spacing-default)*2);
  column-gap: var(--dimension-spacing-default);
  row-gap: var(--dimension-spacing-default);
  display: flex;
}
.features div {
  padding: calc(var(--dimension-spacing-default)*2);
  background-color: var(--color-black-200);
  border: solid 1px var(--color-yellow-200);
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
}
.features div .lucide {
  margin: 0 0 12px;
  color: var(--color-yellow-500)
}
.features div:nth-child(2) .lucide {
  margin: 0 0 12px;
  color: var(--color-orange-500)
}
.features div h2 {
  margin: 0 0 6px;
  font-size: var(--font-size-default);
}
.features div p {
  font-size: var(--font-size-small);
  color: var(--color-white-400)
}

.intro {
  margin: 0 0 12px;
  font-size: var(--font-size-medium);
  text-align: center;
  color: var(--color-white-400)
}

/**
 * aside
 */
aside {
  padding: calc(var(--dimension-spacing-default)*2);
  border: solid 2px var(--color-yellow-500);
  font-family: var(--font-family-title);
  color: var(--color-orange-500);
  font-size: var(--font-size-medium);
  text-align: center;
}
aside h3 {
  margin: 0 0 var(--dimension-spacing-default);
  color: var(--color-yellow-500);
  font-size: var(--font-size-large);
}

/**
 * Footer
 */
footer {
  height: var(--dimension-footer-height);
  padding: 0 24px;
  color: var(--color-yellow-500);
  border: solid 1px var(--color-yellow-500);
  font-size: var(--font-size-smallest);
  white-space: nowrap;
  letter-spacing: 1px;
  left: 50%;
  bottom: calc(var(--dimension-strip-height) + var(--dimension-spacing-default));
  transform: translateX(-50%);
  align-items: center;
  justify-content: center;
  display: flex;
  position: fixed;
  opacity: .6;
  z-index: 1;
}

/*
|--------------------------------------------------------------------------------------------------------------------
| Responsive
|--------------------------------------------------------------------------------------------------------------------
*/

/*
  Tablet portrait
*/
@media (max-width: 1023px) {

}

/*
  Phone landscape
*/
@media (max-width: 812px) {

}

/*
  Phone portrait
*/
@media (max-width: 479px) {
  main {
    padding-left: var(--dimension-spacing-default);
    padding-right: var(--dimension-spacing-default);
  }
  .soon {
    font-size: 70px
  }
  .features {
    padding: 0 var(--dimension-spacing-default);
    flex-direction: column;
  }
  .features div .lucide {
    margin: 0 var(--dimension-spacing-default) 0 0 !important;
  }
  footer {
    display: none;
  }
}
