.root {
  height: var(--dimension-header-height);
  border-bottom: solid 2px var(--color-zinc-700);
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 2;
  &::before {
    content: "";
    height: calc(var(--dimension-header-height) - 2px);
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, .8);
    top: 0;
    right: 0;
    left: 0;
    position: fixed;
    z-index: -1;
  }
  > :global(.container) {
    gap: 170px;
    align-items: center;
    display: flex;
  }

  /**
   * Borderlens logo
   */
  .logo {
    flex: 0 0 130px;
    img {
      transition: filter .2s cubic-bezier(0.4, 0, 0.2, 1);
    }
    &:hover img {
      filter: drop-shadow(0 0 8px rgba(251, 146, 60, 0.8));
    }
  }

  /**
   * Search
   */
  .search {
    flex: 1 0 0;
  }

  /**
   * Navigation
   */
  > nav {
    flex: 0 0 auto;
  }
}

/*
|------------------------------------------------------------------------------
| Responsive
|------------------------------------------------------------------------------
*/

/*
 * Tablets and small laptops
 *
 * Covers iPad landscape, smaller laptops
 */
@media (max-width: 1024px) {
  .root {
    > :global(.container) {
      gap: var(--spacing-sm)
    }
  }
}

/*
 * Small phones
 *
 * Covers most iPhones, small Android devices
 */
@media (max-width: 480px) {
  .root:not(:has(.search)) {
    .logo {
      display: none;
    }
  }
}