/**
 * Main container for application content.
 */
.container {
  width: min(var(--dimension-container-md), 100% - (var(--spacing-sm) * 2));
  margin-inline: auto;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  &.sm {
    width: min(var(--dimension-container-sm), 100% - (var(--spacing-sm) * 2));
  }
  &.pad-xl {
    padding-top: var(--spacing-xl);
    padding-bottom: var(--spacing-xl);
  }
}

/**
 * Applies a muted text colour to elements.
 */
.muted {
  color: var(--color-zinc-0) !important;
  opacity: .5 !important;
}