/**
 * Structure
 */
body {
  background-color: var(--color-background);
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-base);
  color: var(--color-foreground);
  line-height: 1.5;
  position: relative;
  &::after {
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 400 400' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='1.5' numOctaves='4' /%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)' opacity='0.5'/%3E%3C/svg%3E");
    background-repeat: repeat;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    z-index: -1;
    opacity: .2;
  }
}

/**
 * Typography
 */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-title);
  line-height: 1.1;
  text-transform: uppercase;
}


/*
|------------------------------------------------------------------------------
| Responsive
|------------------------------------------------------------------------------
*/

 /*
 * Full screen
 *
 * Covers Borderlens widest viewport
 */
@media (max-width: 1280px) {
  body {
    padding-left: var(--spacing-sm);
    padding-right: var(--spacing-sm);
  }
}
