:root {

  /* Colors */
  --color-orange-400: #fb923c;
  --color-orange-500: #f97316;
  --color-zinc-900: #000;
  --color-zinc-600: #52525b;
  --color-zinc-500: #71717a;
  --color-zinc-300: #d4d4d8;
  --color-zinc-100: #f4f4f5;
  --color-rarity-common: #9ca3af;
  --color-rarity-uncommon: #22c55e;
  --color-rarity-rare: #3b82f6;
  --color-rarity-epic: #a855f7;
  --color-rarity-legendary: #fb8c00;
  --color-rarity-pearlescent: #06b6d4;
  --color-element-incendiary: #ff5722;
  --color-element-shock: #1e88e5;
  --color-element-corrosive: #10b981;
  --color-element-explosive: #ffd600;
  --color-background: var(--color-zinc-900);
  --color-foreground: var(--color-zinc-300);
  --color-title: var(--color-zinc-100);
  --color-mute: var(--color-zinc-500);

  /* Font families */
  --font-family-base: var(--font-family-inter);
  --font-family-title: var(--font-family-rajdhani);
  --font-family-mono: var(--font-family-space);

  /* Font sizes */
  --font-size-base: 1rem; /* 16px */
  --font-size-xs: 0.625rem; /* 10px */
  --font-size-sm: 0.75rem; /* 12px */
  --font-size-md: 1.875rem; /* 30px */
  --font-size-lg: 3rem; /* 48px */
  --font-size-xl: 3.75rem; /* 60px */

  /* Font weights */
  --font-weight-base: 400;
  --font-weight-medium: 700;
  --font-weight-bold: 900;

  /* Spacing */
  --spacing-xs: 1rem; /* 16px */
  --spacing-sm: 1.25rem; /* 20px */
  --spacing-md: 3.125rem; /* 50px */
  --spacing-lg: 15rem; /* 230px */

  /* Dimensions */
  --dimension-container-wide: 80rem; /* 1280px */
  --dimension-container-narrow: 48rem; /* 768px */

}

/*
|------------------------------------------------------------------------------
| Responsive
|------------------------------------------------------------------------------
*/

/*
 * Tablets and small laptops
 *
 * Covers iPad landscape, smaller laptops
 */
@media (max-width: 1024px) {
  :root {
    --spacing-lg: 7rem;
  }
}

/*
 * Large phones and tablets portrait
 *
 * Covers iPad portrait, large Android phones, iPhone Plus/Pro Max
 */
@media (max-width: 768px) {
  :root {
    --font-size-xl: 3rem;
  }
}