:root {

  /**
   * Colours
   */
  --color-orange-700: #792e0f; /* Borders (e.g. header) */
  --color-orange-500: #ea580a; /* Primary (brand) */
  --color-orange-300: #fb923c; /* Secondary (brand) */

  --color-zinc-1000: #000;
  --color-zinc-700: #27272a; /* Dark grey (search box) */
  --color-zinc-500: #71717a; /* Muted (subtitles) */
  --color-zinc-0: #fff;

  --color-rarity-common: #71717a;
  --color-rarity-uncommon: #22c55f;
  --color-rarity-rare: #3b82f6;
  --color-rarity-epic: #a855f7;
  --color-rarity-etech: #ec407a;
  --color-rarity-legendary: #fa7315;
  --color-rarity-effervescent: #4b7d94;
  --color-rarity-seraph: #f06292;
  --color-rarity-pearlescent: #22d3ef;

  --color-element-none: #000;
  --color-element-incendiary: #fa7315;
  --color-element-shock: #3b82f6;
  --color-element-corrosive: #22c55f;
  --color-element-explosive: #fbc024;
  --color-element-slag: #6a1b9a;

  /**
   * Font families
   */
  --font-family-base: var(--font-family-inter);
  --font-family-title: var(--font-family-rajdhani);
  --font-family-mono: var(--font-family-space);

  /**
   * Font sizes
   */
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.5rem;
  --font-size-xl: 2.5rem;

  /**
   * Font weights
   */
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --font-weight-bolder: 900;

  /**
   * Line heights
   */
  --line-height-base: 1.5;
  --line-height-titles: 1;

  /**
   * Spacing
   */
  --spacing-xs: 0.5rem;
  --spacing-sm: 1rem;
  --spacing-md: 1.5rem;
  --spacing-lg: 2rem;
  --spacing-xl: 3rem;

  /**
   * Dimensions
   */
  --dimension-container-md: 80rem;
  --dimension-container-sm: 48rem;
  --dimension-header-height: 4.375rem;

}