.root {
  backdrop-filter: blur(6px);
  background-color: color-mix(in srgb, var(--color-element) 90%, transparent);
  justify-content: center;
  align-items: center;
  display: flex;

  &.md {
    --size: 36px;
    width: var(--size);
    height: var(--size);
    font-size: 20px;
  }
  &.lg {
    --size: 48px;
    width: var(--size);
    height: var(--size);
    font-size: 24px;
  }

}

/*
|------------------------------------------------------------------------------
| Responsive
|------------------------------------------------------------------------------
*/

/*
 * Large phones and tablets portrait
 *
 * Covers iPad portrait, large Android phones, iPhone Plus/Pro Max
 */
@media (max-width: 768px) {
  .root {
    &.lg {
      --size: 36px;
      font-size: 20px;
    }
  }
}